# Banco de dados

KC_DB=postgres
KC_DB_URL_HOST=embarcados_id
KC_DB_PASSWORD=embarcados_id
KC_DB_USERNAME=embarcados_id
KC_DB_SCHEMA=public
KC_DB_URL=jdbc:postgresql://postgres:5432/embarcados_id

# Dados de acesso ao app
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=admin

# Configurações de protocolo de acesso
KC_HEALTH_ENABLED=true
KC_LOG_LEVEL=info
KC_HTTP_ENABLED=true
KC_HOSTNAME_STRICT=false
KC_HOSTNAME_STRICT_HTTPS=false
PROXY_ADDRESS_FORWARDING=true
KC_PROXY=edge
